<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi primer documento en HTML</title>
</head>
<body>
    <h1> el titulo de nuestro documento</h1>
    <h2>un dubtitulo </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae quae dolorem nam adipisci excepturi deserunt, recusandae labore consequuntur! Magni consequatur saepe voluptates corporis quidem quae ratione fugiat aliquid voluptate corrupti?</p>
    
    

</body>

</html>