<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba de web   </title>
</head>
<body>
    <h1> mi titulo de pruena de la clas 26</h1>
    <h2>este es un h2 </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quasi unde, autem maiores ut sit doloribus quod nostrum animi inventore placeat aspernatur fugit, nesciunt officia accusamus distinctio repellendus, consequuntur ducimus!</p>

</body>
</html>